[General]
#1024*1024*1
TorrentSize = 1048576
SimEnd = 600
SeederUpload = 20480
SeederDownload = 1024


#Parameters will be changed during simulation
logFile = ./run/100.log
#logCfg = ./log.conf
logLevel = DEBUG
statsFile = ./run/100.csv
randSeed = 100

[PeerFactor_Peer]
nInitialPeers = 10
SpwanRate = 0.1

UploadRateMin = 5120
UploadRateMax = 10240
DownloadRateMin = 5120
DownloadRateMax = 10240

[PeerFactor_PeerC1]
nInitialPeers = 10
SpwanRate = 0.1

UploadRateMin = 5120
UploadRateMax = 10240
DownloadRateMin = 5120
DownloadRateMax = 10240


